argon2-cffi==20.1.0
async-generator==1.10
attrs==21.1.0
backcall==0.2.0
backports.csv==1.0.7
beautifulsoup4==4.9.3
bleach==3.3.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
cryptography==3.4.7
cymem==2.0.5
decorator==5.0.7
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints==0.3
feedparser==6.0.2
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==4.0.1
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lm-scorer==0.4.2
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
mistune==0.8.4
more-itertools==8.7.0
munch==2.5.0
murmurhash==1.0.5
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.3.0
numpy==1.20.2
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pathy==0.5.2
Pattern==3.6
pdfminer.six==20201018
pexpect==4.8.0
pickleshare==0.7.5
portend==2.7.1
preshed==3.0.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
regex==2021.4.4
requests==2.25.1
rope==0.19.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
Send2Trash==1.5.0
sentence-transformers==1.1.0
sentencepiece==0.1.95
sgmllib3k==1.0.0
six==1.16.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
tempora==4.0.2
terminado==0.9.4
testpath==0.4.4
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.2
torch==1.8.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
transformers==4.5.1
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zc.lockfile==2.0
zipp==3.4.1
